@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    box-sizing: border-box;
    background-color: #3b3d41;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --js-keyword: #ff79c6;
    --js-number:  #bd93f9;
    --js-comment: #6272a4;
    --js-function: #8be9fd;
    --js-punctuation:#f8f8f2;
}

.social__ul{
    display:flex;
    justify-content: space-between;
}

.head__wrapper{
    display:flex;
    justify-content: space-between;
    background-color: #2d333b;
    color:white;
    height:100px;
}

.social__icons{
    margin-right: 30px;
}

.link__btn {
    text-decoration:none;
}

.ul__wrapper{
    font-size:20px;
}

.ul__roadmap{
    list-style: none;
    color: #c4c7cf;
}

li{
    margin-top:10px;
    color: #c4c7cf;
}

a {
    color:white;
}

.roadmap__h1{
    margin-left: 20px;
}

.roadmap__li{
    color: #c4c7cf;
    text-decoration: none;
}

.roadmap__li:hover {
    color:#e3796a;
}

.back__btn {
    background-color: inherit;
    color:white;
    padding:15px 32px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    margin:10px 0 0 10px;
}

.back__btn:hover{
    color:#e3796a;
    transition: 0.5s;
}

.section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d333b;
    width:300px;
    height: 100px;
}

.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d333b;
    width:300px;
    height: 100px;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 100px;
    background-color: #2d333b;
}
.social__wrapper{
    display: flex ;
    justify-content: center;
}

.content__wrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: #181d1c;
    min-height:100px;
    margin-top:2px;
    color:white;
}

.navigation{
    background-color: #292c31;
    width: 300px;
    height: 600px;
}

.content__text{
    background-color: #232529;
    margin-left: 2px;
    display:flex;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 850px;
    min-height:100px;
    padding:0 50px;
}

.content__text a{
    text-decoration: none;
    color:#84a0ef;
}

/* language-javascript */

.content__text code{
    padding:5px 50px;
    background-color: #282a36;
    color: #f3f6fa;
    font-size: 16px;
}

.content__text h1{
    /* padding-top:10px; */
}

.content__text i{
    background-color: #282a36;
    color: #868d9a;
    border-radius: 3px;
    padding: 2px 4px;
}

.list__link-ul{
    display:flex;
    justify-content: space-between;
    background-color: rgb(250, 9, 9);
}

.list__link-icon {
    fill:#afb1b8;
    width: 30px;
    height: 30px;
}

.list__item{
    display: flex;
}

.list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: yellow;
}

.codepen:hover{
    fill:blue;
    background-color: inherit;
}

.facebook:hover{
    fill:#4867aa;
    background-color: inherit;;
}

.telegram:hover{
    fill:#23aaeb;
    background-color: inherit;;
};

.test {
    height: 10px;
    width: 50px;
    background-color: green;
    margin-right: 5px;
    margin-top: 100px;
}

.code-text{
    color:black;
    background-color: white;
}

.keyword{
    color: var(--js-keyword);
}

.number {
    color: var(--js-number);
}

.comment{
    color: var(--js-comment);
}

.function{
    color: var(--js-function);
}

.class-name{
    color: var(--js-function);
}

.punctuation{
    color: var(--js-punctuation); 
}

