@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    box-sizing: border-box;
    background-color: rgb(231, 224, 224);
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}



.social__ul{
    display:flex;
    justify-content: space-between;
}

.head__wrapper{
    display:flex;
    justify-content: space-between;
    background-color: #181d1c;
    color:white;
    height:100px;
}

.social__icons{
    margin-right: 30px;
}

.link__btn {
    text-decoration:none;
}

.ul__wrapper{
    font-weight: 700;
    font-style:bold;
    font-size:20px
}

li{
    margin-top:10px;
}

a {
    color:white;
}

.roadmap__h1{
    margin-left: 20px;
}

.roadmap__li{
    color:black;
    text-decoration: none;
}

.roadmap__li:hover {
    text-decoration:underline;
}

.roadmap__li{
    color:black;
}

.back__btn {
    background-color: black;
    color:white;
    padding:15px 32px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    margin:10px 0 0 10px;
}

.back__btn:hover{
    background-color: white;
    color:black;
    transition: 0.5s;
}

.section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d333b;
    width:300px;
    height: 100px;
}

.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d333b;
    width:300px;
    height: 100px;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 100px;
    background-color: #2d333b;
}
.social__wrapper{
    display: flex ;
    justify-content: center;
}

.content__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* letter-spacing: 1px; */
    background-color: #181d1c;
    min-height:100px;
    margin-top:10px;
    color:white;
}

.content__text{
    display:flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 850px;
    min-height:100px;
    background-color: #2d333b;
    padding:0 20px;
}

.content__text code{
    padding:5px 50px;
    background-color: #282a36;
    color: #868d9a;
    font-size: 16px;
}

.content__text strong {
    background-color: #282a36;
    color: #868d9a;
}

.list__link-ul{
    display:flex;
    justify-content: space-between;
    background-color: rgb(250, 9, 9);
}

.list__link-icon {
    fill:#afb1b8;
    width: 30px;
    height: 30px;
}

.list__item{
    display: flex;
}

.list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: yellow;
}

.codepen:hover{
    fill:blue;
    background-color: inherit;
}

.facebook:hover{
    fill:#4867aa;
    background-color: inherit;;
}

.telegram:hover{
    fill:#23aaeb;
    background-color: inherit;;
};

.test {
    height: 10px;
    width: 50px;
    background-color: green;
    margin-right: 5px;
    margin-top: 100px;
}

.code-text{
    color:black;
    background-color: white;
}

.keyword{
    color:#ff79c6;
}